{{define "Title"}}FAQ{{end}}
{{define "ContentWidth"}}9{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">FAQ</li>
	</ul>
{{end}}
{{define "Content"}}
    <style type="text/css">
        dt {
            margin-bottom: 1em;
        }
    </style>
	<div class="content">
		<dl class="faq">
            <dt><span class="label label-info">Q</span> 网站是用什么开发的？</dt>
			<dd><span class="label label-success">A</span> 网站源码基于<a href="https://github.com/jimmykuu/gopher" target="_blank">golangtc.com的源码(https://github.com/jimmykuu/gopher)</a>修改而来。本站的源码在<a href="https://github.com/baiyuxiong/gopher" target="_blank">https://github.com/baiyuxiong/gopher</a>。网站用go语言开发。</dd>
			<dt><span class="label label-info">Q</span> 网站主要功能有哪些？</dt>
			<dd><span class="label label-success">A</span> 网站主要用于nsq(http://nsq.io)的学习交流，包括官方文档翻译，社区交流，源码解读等。</dd>
		</dl>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}