{{define "Title"}}NSQ中国时间线{{end}}
{{define "ContentWidth"}}8{{end}}
{{define "Breadcrumb"}}
	<ul class="breadcrumb">
		<li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
		<li class="active">时间线</li>
	</ul>
{{end}}
{{define "Content"}}
	<div class="content main">
        <h1 style="text-align: center;">NSQ中国社区成长时间线</h1>
        <div class="history">
            <div class="history-date">
                <ul>
				  <h2><a href="#nogo">2015年</a></h2>
					<li>
					  <h3>01.03<span>2015</span></h3>
					  <dl>
						<dt>NSQ中国社区上线
						  <span>NSQ中国社区上线，包括官网翻译，社区，文章模块</span>
						</dt>
					  </dl>
					</li>
                </ul>
            </div>
        </div>
	</div>
{{end}}

{{define "LeftSide"}}{{end}}
{{define "RightSide"}}{{end}}
